@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.App {
  padding-top: 10px;
  min-height: 100vh;
  background-color: #edfbff;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23b7e1fa' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
.App-Name {
  /* font-family: 'Pacifico', cursive; */
  font-size: 35px;
  color: #257dca;
  font-family: "Kaushan Script", cursive;
}
.form-wrapper > p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 9px;
  color: #1b4870;

  margin-bottom: 7px;
}
.search-form {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 10px rgb(155, 155, 155);
  outline: none;
}

.search-button {
  background-image: linear-gradient(to right, #1c79ca 0%, #10b9c2 100%);
  border-radius: 6px;
  margin: 5px;
  box-shadow: 0.5px 0.5px 10px rgb(155, 155, 155);
  cursor: pointer;
  border: 1px solid snow;
  padding: 10px 20px;
  color: white;
}
.search-button:hover {
  background-image: linear-gradient(to right, #10b9c2 0%, #1c79ca 100%);
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form-wrapper {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.842);
  margin: 0px 10%;
  max-width: 80%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
